body {
    margin: 0;
    font-family: 'lora';
}

.newsletter {
    background-color: #98C23A;
    height: 135px;
    text-align: center;
}

.newsletter p {
    font-size: 25px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

input[type=email] {
    height: 32px;
    width: 380px;
    text-indent: 10px;
    font-size: 15px;
}

input[type=submit] {
    text-transform: uppercase;
    height: 35px;
    width: 120px;
    background-color: #026634;
    color: #fff;
    border: none;
    font-size: 16px;
    border: 1px solid #026634;
    margin-left: 10px;
}

input[type=submit]:hover {
    background-color: #98C23A;
    transition: 0.3s;
    color: #000;
}