
/* ======== CONTENT ========= */

.bn_block-title {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 3.125rem 0 0 0;


    div {
        width: 9rem;
        margin-top: 1.5rem;
        border-top: 2px solid $bn_color-3;
        height: 3.125rem;
    }

}
.bn_certif-row {
    min-height: 10rem;
}
.bn_certif-col {

    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 9rem;
}


.bn_certif-btn {
    width: 8rem;
    filter: grayscale(1);
    opacity: 0.7;

    transition-property: filter, opacity, width; 
    transition-duration: 0.5s; 
}

.bn_certif-btn:hover {
    width: 9rem;
    filter: grayscale(0);
    opacity: 1;
}


.bn_block-newsletter {
    padding: 0 3rem;
}

.bn_newsletter-input {
    border-radius: 0%;
    width: 20rem !important;

}

/* ======================= FORMULAIRE ======================== */@at-root
/* 
.bn_form-row {
    margin-top: -1rem;
}
*/

.bn_form-input {
    label {
        color: $bn_color-3;
        background: $bn_color-bg;
        margin-left: 1rem;
        padding: 0 0.4rem 0 0.4rem;
        font-size: 0.9rem
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        margin-top: -1.125rem;
        background-color: $bn_color-bg;
        border-radius: 0%;
        border-color: $bn_color-3;
    }

    textarea {
        min-height: 12rem;
    }

    .bn_check-label {
        margin: -0.5rem 0 0 0;
    }
}