/* ======== CONTENT ========= */

.bn_block-title {

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 0 0 0;
    text-align: center;


    div {
        width: 8rem;
        margin-top: 1.5rem;
        border-top: 2px solid $bn_color-3;
        height: 3.125rem;
    }

}

.bn_certif-row {
    min-height: 10rem;
}

.bn_certif-col {

    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    width: 9rem;
}


.bn_certif-btn {
    width: 8rem;
    filter: grayscale(1);
    opacity: 0.7;

    transition-property: filter, opacity, width;
    transition-duration: 0.5s;
}

.bn_certif-btn:hover {
    width: 9rem;
    filter: grayscale(0);
    opacity: 1;
}


.bn_block-newsletter {
    padding: 0 3rem;
}

.bn_newsletter-input {
    border-radius: 0%;
    width: 20rem !important;

}

/* ======================= FORMULAIRE ======================== */
@at-root
/* 
.bn_form-row {
    margin-top: -1rem;
}
*/

.bn_form-input {
    label {
        color: $bn_color-3;
        background: $bn_color-bg;
        margin-left: 1rem;
        padding: 0 0.4rem 0 0.4rem;
        font-size: 0.9rem
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        margin-top: -1.125rem;
        background-color: $bn_color-bg;
        border-radius: 0%;
        border-color: $bn_color-3;
    }

    textarea {
        min-height: 12rem;
    }

    .bn_check-label {
        margin: 0 0 0 0;
    }
}



/* ======================= PRESTATION ======================== */

.bn_presta-block {
    /* 1:1 Aspect Ratio */

    height: 18rem;
    background-size: cover;
    background-position: 50% 50%;

    overflow: hidden;

}


.bn_presta-block:hover {

    font-size: 1.3em;

    div {

        height: 100%;

    }
}



@media (min-width: $bn_md) {
    .bn_presta-block {
        /* 1:1 Aspect Ratio */
        height: 14rem;
    }
}

/*
$bn_xs: 576px;
$bn_sm: 768px;
$bn_md: 992px;
$bn_lg: 1200px;

*/

.bn_presta-bg-1 {
    background-image: url(../img/prestations/presta-bg-1.jpg);
}

.bn_presta-bg-2 {
    background-image: url(../img/prestations/presta-bg-2.jpg);
}

.bn_presta-bg-3 {
    background-image: url(../img/prestations/presta-bg-3.jpg);
}

.bn_presta-bg-4 {
    background-image: url(../img/prestations/presta-bg-4.jpg);
}

.bn_presta-bg-5 {
    background-image: url(../img/prestations/presta-bg-5.jpg);
}

.bn_presta-bg-6 {
    background-image: url(../img/prestations/presta-bg-6.jpg);
}

.bn_presta-bg-7 {
    background-image: url(../img/prestations/presta-bg-7.jpg);
}

.bn_presta-bg-8 {
    background-image: url(../img/prestations/presta-bg-8.jpg);
}



.bn_site-map-ul {
    list-style: square;

    a {
        color: $bn_color-1;

        &:hover {
            color: $bn_color-2;
        }
    }

}


.bn_arianne a {
    padding: 0 2rem;

    &:hover {
        background: rgba($color: #000000, $alpha: 0.2);
        ;
    }

    &.bn_active-presta {
        background: rgba($color: #000000, $alpha: 0.2);
    }
}