
/* ======== FOOTER ========= */

.bn_copyright {
    line-height: 2.5rem;
    font-size: 0.8rem;
    color: $bn_white;

    a {
        color: $bn_color-2;

        &:hover {
            color: $bn_color-3;
        }
    }
}

.bn_footer-block {
    color: $bn_white;
    font-size: 0.8rem;

    a, p {
        color: $bn_white;
    }

    a:hover {
        color: $bn_color-2;
    }

    
}

.bn_social-bottom {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition-property: font-size; 
    transition-duration: 0.5s; 
}

.bn_social-bottom:hover {
    font-size: 3rem;
}


.bn_payment {



    i {
        font-size :2.5rem
    }
}