
/* ======== FOOTER ========= */

.bn_copyright {
    line-height: 2.5rem;
    font-size: 0.8rem;
    color: $bn_white;

    a {
        color: $bn_color-2;

        &:hover {
            color: $bn_color-3;
        }
    }
}

.bn_footer-block {
    color: $bn_white;
    font-size: 0.8rem;

    a, p {
        color: $bn_white;
    }

    a:hover {
        color: $bn_color-2;
    }

    
}