/* ======== HEADER ========= */

.bn_top-bar {
    height: 2.8125rem;
    font-size: 0.75rem;

    .bn_infos {

        .bn_infos-items {

            margin-right: 1rem;

            i {
                margin-right: 0.4rem;
            }
        }
    }

    .bn_social {
        font-size: 1rem;
    }
}


/* Logo Top */

.bn_logo-top {

    height: 4.375rem; // 70 px

    display: flex;
    align-self: center;

    .bn_logo-svg {
        width: 3.4375rem; // 55px
        height: 4.375rem;
        margin-right: 0.75rem;
    }

    .bn_logg-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .bn_logo-text-1 {
            color: $bn_black;
            font-size: 1.5rem;
            font-family: $bn_font-2;
            font-weight: $bn_font-regular;
            letter-spacing: $bn_letter-spacing;
            text-transform: capitalize;
            margin-top: -0.5rem;
        }

        .bn_logo-text-2 {
            color: $bn_grey;
            font-size: 0.75rem;
            font-family: $bn_font-1;
            font-weight: $bn_font-light;
            letter-spacing: $bn_letter-spacing;
            text-transform: uppercase;
            margin-top: -0.25rem;
        }

    }
}

/* navbar */

.bn_navbar {
    height: 6.25rem;

}


.bn_nav-item:hover {
    color: $bn_color-2;
}

.bn_nav-item.bn_active {
    border-bottom: solid 0.1875rem $bn_color-1;
}

.bn_nav-link {
    font-size: 1rem;
    font-weight: $bn_font-regular;
    letter-spacing: $bn_letter-spacing;

    color: $bn_black !important;
}


.bn_nav-link:hover {
    color: $bn_color-1 !important;
    ;
}

.bn_nav-link.disabled {
    color: $bn_grey !important;
    opacity: 0.5;
}

.bn_affix {}



// ==================================================================================
// ---------------------------------- SLIDER ----------------------------------------
// ================================================================================== 

.bn_decal-slider {
    margin-top: -6rem;

}

.bn_slide-bg {
    height: 31.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: 50% 50%;
    background-size: cover;
    padding-top: 6rem;
}

.bn_side-bg-1 {
    background-image: url(../img/slide-1.jpg);
}

.bn_side-bg-2 {
    background-image: url(../img/slide-2.jpg);
}

.bn_side-bg-3 {
    background-image: url(../img/slide-3.jpg);
}

.bn_slide-banner {
    height: 65%;
    width: 60%;
    padding: 0.5rem;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.6);

}

.bn_slider-border {
    border: 1px white solid;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bn_slider-border span {
    color: white;
    margin: 0.25rem 0;
}

.bn_decal-slide-indic {
    margin-top: 6rem; //  centre les flèches  du slider
}

// ==================================================================================
// ---------------------------------- IMG TOP ---------------------------------------
// ================================================================================== 

.bn_img-top {
    height: 20rem;

    background-size: cover;
    background-position: 50% 50%;
}

.bn_img-contact {
    background-image: url(../img/img-contact.jpg);
}

.bn_img-institut {
    background-image: url(../img/img-institut.jpg);
}


.bn_img-magasin {
    background-image: url(../img/img-magasin.jpg);
}


.bn_img-gallerie {
    background-image: url(../img/img-gallerie.jpg);
}

.bn_img-mentions {
    background-image: url(../img/img-mentions.jpg);
}