
/* ======== SLIDER ========= */

.bn_slider {

    margin-top: -6rem;
    overflow: hidden;

    padding: 0;

    background: grey;

}

.carousel-indicators li {
    margin-bottom: -0.8rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
  }

  .carousel-indicators li:hover {
      color: $bn_color-1;
  }
